<table class="table">
    <thead>
    <tr>
        <th><a href="{{sortLinks.sortById}}">#</a></th>
        <th><a href="{{sortLinks.sortByTitle}}">Title</a></th>
        <th>Authors</th>
        <th>ISBN</th>
    </tr>
    </thead>
    <tbody>
    {{#books}}
        <tr>
            <th></th>
            <td><a href="{{link}}">{{title}}</a></td>
            <td>{{authors}}</td>
            <td>{{isbn}}</td>
        </tr>
    {{/books}}
    </tbody>
</table>
<nav aria-label="navigation between pages with books">
    <ul class="pagination">
        {{#pages}}
            <li class="page-item {{#isCurrent}}active{{/isCurrent}}">
                <a class="page-link" href="{{href}}">{{humanDisplay}}</a>
            </li>
        {{/pages}}
    </ul>
</nav>